
StickyNote{
    border: solid white;
    width: 100%;
    height: 15;
    min-height: 15;
    
}

StickyNote #noteContent{
    background: $boost;
    height: 100%;
    
    margin: 0 1;
    
}


StickyNote:focus{
    border: dashed $accent;
    background:$panel;
    
}

DeleteModal {
    align: center middle;
    background: rgba(0, 0, 0, 0.5); 
}



EditModal{
    align: center middle;
    background: rgba(0, 0, 0, 0.5);

}

#editModalContainer {
    
    padding: 2;
    width: 60;
    height: 30;
    border: solid $primary;
    background: $surface;
}

#editModalContainer #title {
    
    min-height: 5;
    background: $panel;
}

#editModalContainer #content {
    
    min-height: 20;
    background: $panel;
}

#deleteModalContainer {
    grid-size: 2;
    grid-gutter: 1;
    grid-rows: 1fr 3;
    padding: 2;
    width: 60;
    height: 15;
    border: solid $primary;
    background: $surface;
}

#question {
    column-span: 2;
    height: 1fr;
    margin:0 0;
    content-align: center middle;
}


#notes{
    border: ascii white;
    margin: 1;
    layout:grid;
    grid-size:3;
    grid-gutter:1 2;
    align-vertical:top;
    grid-rows: auto;
    height: auto;
    
}


#searchContainer {
    background: $surface;
    border: solid $primary;
    width: 80;  
    height: 40;
    padding: 1 2;
}

#searchTitle {
    text-align: center;
    text-style: bold;
    margin-bottom: 1;
}

#searchInput {
    margin-bottom: 1;
}

#searchResults {
    height: 20;
    border: solid $accent;
    margin-bottom: 1;
}

#searchButtons {
    grid-size: 1;
    grid-gutter: 1;
}

SearchModal {
    align: center middle;
}
